.footer {
    width: 100%;
    color: #ddd;
}
.footerItems {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    background-color:rgb(40, 65, 65);
}
.footerLeft {
    padding-left: 20px;
    padding-top: 60px;
}
.footerLeft p {
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
}
.footerSocial {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}
.footerCenter {
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
   
    width: 35%;
}
.footerCenter h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.footerCenter ul li {
    list-style: none;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    padding: 5px;
}
.footerCenter ul li:hover {
    color: steelblue;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
}
.footerRight {
    padding-top: 70px;
    padding-right: 40px;
   
    width: 25%;
}
.footerRight h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;

}
.footerRight span {
    text-transform: capitalize;
    font-size: 11px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.6px;

}
.footerSlected {
    width: 80%;
    height: 24px;
    font-size: 12px;
    outline: none;
    padding-left: 5px;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.footerSlected:focus{
    outline: none;
}
.footerText {
    font-size: 12px;
}
.copyright {
    width: 100%;
    height: 30px;
    color: #ddd;
    background-color: rgb(27, 47, 47);
    text-align: center;
    text-transform: capitalize;
    font-size: 11px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    letter-spacing: 0.6px;
}